# Dependency directories
node_modules/

# OS or Editor files
.DS_Store
.vscode/
.idea/

# Log files
*.log

# Environment variables file
.env

# Output of npm (lockfiles, logs, etc.)
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Production build output
dist/
